         <!-- START: TOP PANEL /-->
        <!--            <div id="topPanel">
					  <a href="#" title="Sampler logo" id="logo">SAMPLER</a>
                      <a href="#" title="Get in touch" id="getInTouchBtn">Get in touch</a>
                   </div> -->
                   <!-- END: TOP PANEL /-->
       
       
                   <!-- START: HEADER /-->
                   <div class="container">
                   <div id="header">
                         <div id="get-app">
                          <%= image_tag 'logo-big.png' %>
                               <h1>Crowdsourcing Memories</h1>
															 <%= link_to "Sign up", signup_path, :class => 'call' %>
                               <!-- <h2>Is amazing, modern and clean<br />landing page for showcase your<br />app anything else.</h2> -->
                               
                               <!-- get the app button /-->
                            <!--    <a href="#" title="Get the app" class="getAppBtn">
                                        <span class="text">GET THE APP</span>
                                        <span class="hover"></span>
                                        <span class="normal"></span>
                               </a>    -->               
                         </div>
                   </div>
                     
                   </div>
                         <div class="compu">
                           <%#= image_tag 'mac.png' %>
                         </div>
                   <!-- END: HEADER /-->
        
                    
                   <!-- START: BACKGROUND /-->
                   <!-- <div class="background"> -->
                
                           <!-- START: COLUMNS /-->
                           <!-- <div class="container">
                                 <ul id="columns"> -->
                                        
                                        <!-- COLUMN 1 /-->
                                        <!-- <li class="phone">
                                            <h3>Lovely application showcase</h3>
                                            <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                                        </li> -->
                                        
                                        <!-- COLUMN 2 /-->
                                        <!-- <li class="brush">
                                            <h3>Modern and creative design</h3>
                                            <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                                        </li> -->
                                        
                                        
                                        <!-- COLUMN 3 /-->
                                        <!-- <li class="wheel">
                                            <h3>Simply to customize landing page</h3>
                                            <p>Lorem Ipsum is simply and text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                                        </li>
                                 </ul>
                           </div> -->
                            <!-- END: COLUMNS /-->
                         
                           
                          
                            <!-- START: INFO LINE /-->   
                         <!--    <div id="infoLine">
                                  <div class="container">
                                      <h2>Beautiful application</h2>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
                                      <p>Scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining.</p>
                                  </div>            
                            </div>  -->
                            <!-- END: INFO LINE /-->    
                              
                              
                            <!-- BEGIN: SHOWCASE /-->    
                          <!--   <div id="showcase">
                                  <div class="container">
                                        <h2>Really creative showcase</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                                        
                                        <ul class="gallery"> -->
                                                
                                                <!-- gallery item /-->
                                         <!--        <li>
                                                    <a href="./design/showcase/image_big.png" rel="shadowbox">
                                                        <img src="./design/showcase/image1.jpg" alt="#" />
                                                        <div class="hover"></div>
                                                    </a>
                                                </li> -->
                                                
                                                
                                                <!-- gallery item /-->
                                            <!--     <li>
                                                    <a href="./design/showcase/image_big.png" rel="shadowbox">
                                                        <img src="./design/showcase/image2.jpg" alt="#" />
                                                        <div class="hover"></div>
                                                    </a>
                                                </li> -->
                                                
                                                
                                                <!-- gallery item /-->
                                            <!--     <li>
                                                    <a href="./design/showcase/image_big.png" rel="shadowbox">
                                                        <img src="./design/showcase/image3.jpg" alt="#" />
                                                        <div class="hover"></div>
                                                    </a>
                                                </li> -->
                                                
                                                
                                                <!-- gallery item /-->
                                              <!--   <li>
                                                    <a href="./design/showcase/image_big.png" rel="shadowbox">
                                                        <img src="./design/showcase/image4.jpg" alt="#" />
                                                        <div class="hover"></div>
                                                    </a>
                                                </li>                                                                                                            
                                        </ul>
                                  </div>
                            </div>   -->
                            <!-- END: SHOWCASE /-->    
                      
                    <!-- </div> -->
                     <!-- END: BACKGROUND /-->
                     
                    <!-- START: BOTTOM  BG /-->  
           <!--          <div id="bottom">
                          <div class="container">      
                                    <p>There are many variatos of passages of Lorem Ipsum available, but the majority.</p>
                                    -->
                                  <!--   <a href="#" title="Get the app" class="getAppBtn">
                                        <span class="text">GET THE APP</span>
                                        <span class="hover"></span>
                                        <span class="normal"></span>
                                    </a>    
                          </div>
                    </div>   -->
                    <!-- END: BOTTOM  BG /-->  
                               
            
                     <!-- START: FOOTER /-->
              <!--        <div  class="background" id="footer">
                            <div class="container">
                            
                                      <span id="copyright">&copy; 2013 Pierre Borodin, All rights reserved, Made with <span class="heart">&hearts;</span> in Prague</span>
                                        
                                      <ul id="social"> -->
                                          
                                          <!-- Twitter link /-->
                       <!--                    <li class="twitter">
                                              <a href="#" title="Follow me on Twitter">
                                                <span class="hover"></span>
                                                <span class="normal"></span>
                                              </a>
                                          </li> -->
                                          
                                          <!-- Facebook link /-->
                          <!--                 <li class="facebook">
                                              <a href="#" title="Follow me on Facebook">
                                                <span class="hover"></span>
                                                <span class="normal"></span>
                                              </a>
                                          </li> -->
                                          
                                          <!-- Google link /-->
                    <!--                       <li class="google">
                                              <a href="#" title="Follow me on Google+">
                                                <span class="hover"></span>
                                                <span class="normal"></span>
                                              </a>
                                          </li>                                                                        
                                      </ul>   -->
                               
                                      
                                      <!-- CREDITS /-->  
      <!--                                 <div id="credits">
                                        <p>Credist and developing</p>
                                        <p class="authors">Jiří Fusek</p>  
                                      </div>
                     
                            </div>
                     </div> -->
                     <!-- END: FOOTER /-->
