<div class="container">
	<div id="header">
		<div>
			<!-- <div id="log_in">
				<%= link_to "Log in", signin_path, :class => 'call_2' %>
			</div> -->
	  	<div id="get-app">
  	  	<%= image_tag 'logo-big.png' %>
				<%= link_to "Sign up", user_omniauth_authorize_path(:facebook), :class => 'call' %>
			</div>
		</div>
  </div>
</div>
