
<% if @user.thumbnail_url %>
	<% image_tag @user.thumbnail_url %>
<% else %>
	<% image_tag  %>
<% end %>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>
