
<% if @user.picture.try("url")  %>
	<%= image_tag @user.picture.url %>
<% else %>
	<%= image_tag "http://hosting.gmodules.com/ig/gadgets/file/114894663643104408454/GuestUserIcon.png"  %>
<% end %>
<p>
  <%= @user.first_name %>
  <%= @user.last_name %>
</p>
<br/>
