.btn {
	@include linear-gradient(#94ca43, #85c23b, $deprecated-pos1: left center, $deprecated-pos2: left top);
	@include box-shadow(0px 1px 1px rgba(000,000,000,0.2),inset 0px 1px 0px rgba(255,255,255,0.2));
	text-shadow: 0px 1px 0px rgba(000,000,000,0.1), 0px 1px 0px rgba(255,255,255,0.3);
	color: #fff;
	font-weight: bold;
	padding: 10px 15px;
	@include border-radius(2px);
	border: 1px solid darken($green, 5%);
	text-shadow: none;
	@include transition (all 0.2s ease-in-out);
	&:hover {
		@include transition (none);
		@include box-shadow(0px 1px 1px rgba(000,000,000,0.2),inset 0px 0px 0px rgba(255,255,255,0.2));
		color: #fff;
	}
}

.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  font-weight: 300;
}