/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 */

@font-face {
    font-family: 'NexaBold';
    src: font-url('nexa-bold.eot');
    src: font-url('nexa-bold.eot?#iefix') format('embedded-opentype'),
         font-url('nexa-bold.woff') format('woff'),
         font-url('nexa-bold.ttf') format('truetype'),
         font-url('nexa-bold.svg#NexaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaLight';
    src: font-url('nexa-light.eot');
    src: font-url('nexa-light.eot?#iefix') format('embedded-opentype'),
         font-url('nexa-light.woff') format('woff'),
         font-url('nexa-light.ttf') format('truetype'),
         font-url('nexa-light.svg#NexaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Entypo';
    src: font-url('entypo.eot');
    src: font-url('entypo.eot?#iefix') format('embedded-opentype'),
         font-url('entypo.woff') format('woff'),
         font-url('entypo.ttf') format('truetype'),
         font-url('entypo.svg#NexaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "bourbon";
@import "bootstrap";
@import "typefaces";
@import "layout";
@import "typography";
@import "style";
@import "buttons";