<% if current_user %>
<ul class="nav nav-pills pull-right">
  <li><a href="account.html">My Account</a></li>
  <li><a href="/logout">Sign Out</a></li>
</ul>
<% end %>

<!--
<div class="masthead">
  <h3 class="muted">Eventee</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="main.html">News Feed</a></li>
          <li class="active"><%#= link_to 'My Events', events_path %></li>
          <li><a href="#">Friends</a></li>
          <li><a href="#">Discover</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> 
-->

<div class="row">
	<div class="span12">

	<% if current_user %>
    <ul class="nav nav-pills pull-left">
			<li><a href="#invites" data-toggle="modal">Invites (<%= Invitation.where("email = ? and accepted = ?", current_user.email, false).count %>)</a></li>
      <li><%= link_to 'Create Event', new_event_path %></li>
    </ul>
	<% end %>
    <form class="form-search pull-right">
      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
</div>
